common: &common
  adapter: mysql
  encoding: utf8
  reconnect: false
  pool: 1
  username: root
  password:

development:
  <<: *common
  database: db_charmer_sandbox_test

#----------------------------------------------------------------
test:
  <<: *common
  database: db_charmer_sandbox_test

  # enrollments database
  enrollments:
    <<: *common
    database: db_charmer_enrollments_test

  # logs database
  logs:
    <<: *common
    database: db_charmer_logs_test

  # slave database
  slave01:
    <<: *common
    username: db_charmer_ro
    database: db_charmer_sandbox_test

  user_master:
    <<: *common
    database: db_charmer_sandbox_test

  # shard mapping db
  social_shard_info:
    <<: *common
    database: db_charmer_sandbox_test

  # for migrations only
  social_shard01:
    <<: *common
    database: db_charmer_events_test_shard01

  # for migrations only
  social_shard02:
    <<: *common
    database: db_charmer_events_test_shard02

  schools_shard_one:
    <<: *common
    database: db_charmer_schools_shard_one

  schools_shard_two:
    <<: *common
    database: db_charmer_schools_shard_two

#----------------------------------------------------------------
test22:
  <<: *common
  database: db_charmer_sandbox22_test

  # logs database
  logs:
    <<: *common
    database: db_charmer_logs22_test

  # slave database
  slave01:
    <<: *common
    username: db_charmer_ro
    database: db_charmer_sandbox22_test

  user_master:
    <<: *common
    database: db_charmer_sandbox22_test

  # shard mapping db
  social_shard_info:
    <<: *common
    database: db_charmer_sandbox22_test

  # for migrations only
  social_shard01:
    <<: *common
    database: db_charmer_events22_test_shard01

  # for migrations only
  social_shard02:
    <<: *common
    database: db_charmer_events22_test_shard02
